* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI','Roboto','Ubuntu','sans-serif';
    background-color: #181818;
}

.navegador{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    font-size: 1.5em;
    background-color: #000000;
    align-items: center;
    padding: 10px;
    font-weight: 300;
}
.logo{
    display: flex;
    align-items: center;
}
.logoUnlam{
    width: 70px;
    height: 70px;
}
.logoDescripcion{
    font-weight: 1000;
    font-size: 1.5em;
    margin-left: 10px;
    color:#009446;
}
.headerList{
    display: flex;
    list-style: none;
    padding-right: 40px;
}
.headerListItem{
    text-decoration: none;
    color: #ffffff;
    border-radius: 40px;
}
.headerListItem:hover{
    cursor: pointer;
    border: #ffffff solid 0px;
    background-color: #414141;
    transition-duration: 0.3s;
}
.botonNav{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin: 0 5px;
}
.headerListItemRegistrarse{
    background-color: #009446;
    text-decoration: none;
    color: #ffffff;
    border-radius: 40px;
}
.headerListItemRegistrarse:hover{
    cursor: pointer;
    border: #ffffff solid 0px;
    background-color: #414141;
    transition-duration: 0.3s;
}
.botonNavRegistrarse{
    text-decoration: none;
    color: #000000;
    padding: 10px;
    margin: 0 5px;
    font-weight: 400;
}
.botonNavRegistrarse:hover{
    color: #ffffff;
    transition-duration: 0.3s;
}

.iconoNav{
    display: none;
}
.contenedorFooter{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid #000;
    font-size: 1.5em;
    background-color: #000000;
    color: #ffffff;
    font-weight: 300;
}

@media (max-width: 768px) {
    .navegador{
        background: -webkit-gradient(top, #000 70%,#181818 30%);
    }
    .contenedorFooter{
        display: none;
    }
    .iconoNav{
        display: block;
    }
    .logo a{
        display: none;
    }
    .headerList{
        padding: 0;
    }
    .headerList a{
        display: none;
    }
    .headerListItem{
        margin: 0 25px;
        font-size: 1.5em;
    }

    .headerListItem:hover{
        cursor: pointer;
        border: none;
        background-color: black;
    }
}