*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;       /* hereda el color del texto donde este */
    text-decoration: none;
}


html, body {
    font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Ubuntu', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #181818;
}
.container {
    width: 90%;
    max-width: 25rem;
    margin: 8vh auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}


.containerImagen .logoUnlamForm {
    width: 6rem;
    height: auto;
    margin-bottom: 1.5rem;
}


.titulos h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.titulos p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* Formulario */
.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.titulosForm {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #fff;
}


.formulario input {
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #333;
    color: white;
    font-size: 1rem;
}


.botonFormRegistrarse {
    background-color: #009446;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
    text-align: center;
    transition: background-color 0.3s;
}

.botonFormRegistrarse:hover {
    background-color: #009446;
}


.botonFormRegistrarse a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}