*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Ubuntu', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #181818;
}
.container{
    border: 1px solid #009446;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    width:50%;
    margin-left: 25%;
    padding: 1rem;
}

.titulos{
    color: #ffffff;
    font-size: 2rem;
    margin-top: 1rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.instagram_icon{
    width: 5rem;
    height: 5rem;
}

.botonFormRegistrarse{
    color: #000000;
    text-decoration: none;
    border-radius: 40px;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
    font-weight: 400;
    background-color: #009446;
}

.botonFormRegistrarse:hover{
    cursor: pointer;
    background-color: #414141;
    transition-duration: 0.3s;
    color:#009446;
}

.titulosForm{
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.logoUnlamForm{
    width: 10rem;
    height: 10rem;
}