button{
    font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Ubuntu', 'sans-serif';
    font-size: 1em;
    font-weight: 300;
}
.elementosInicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
    background: linear-gradient(#0e0e0e, #181818);
    font-weight: 300;
}
.vista{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.labelVista{
    font-size: 1.5em;
    color: #ffffff;
}
.selectVista{
    background-color: #181818;
    color: #ffffff;
    border: 1px solid #009446;;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.1em;
}

.contenedorTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 3% 0% 3%;
}
.tituloPerfil {
    font-weight: 400;
    font-size: 3em;
    color: #fff;
    text-align: center;
}
.contenedorPerfil{
    display: flex;
    flex-direction: row;
    padding: 2% 5% 2% 5%;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
    justify-content: space-evenly;
}
.fotoPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenPerfil{
    width: 200px;
    height: 200px;
}
.formularioPerfil{
    display: grid;
    /* grid-template-areas:
        'datos metodoDePago'
        'botones botones'; */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    
}
.labelFormPago{
    margin-top: 20px;
}
.checkboxPagoContainer{
    margin-top: 20px;
}
.datosUsuario{
    grid-area: 'datos';
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}
.labelsUsuario{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formularioUsuario{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.metodoDePago{
    grid-area: 'metodoDePago';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10%;
}
.checkboxPagoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.inputForm{
    background-color: #181818;
    border: #009446 solid 1px;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
}
.inputForm:hover{
    border: #ffffff solid 1px;
    transition-duration: 0.3s;
}
.inputFormCVV{
    background-color: #181818;
    border: #009446 solid 1px;
    border-radius: 10px;
    padding: 10px;
    width: 15%;
    color: #ffffff;
}
.inputFormCVV:hover{
    border: #ffffff solid 1px;
    transition-duration: 0.3s;
}
.botonesFormulario{
    grid-area: 'botones';
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}

.botonGuardar{
    background-color: #009446;
    border:#ffffff solid 1px;
    border-radius: 10px;
    color: #ffffff;
    padding: 0 40px 0 40px;
    cursor: pointer;
}
.botonGuardar:hover{
    background-color: #00421f;
    transition-duration: 0.3s;
}
.botonCancelar{
    background-color: #940000;
    border:#ffffff solid 1px;
    border-radius: 10px;
    color: #ffffff;
    padding: 0 40px 0 40px;
    cursor: pointer;
}
.botonCancelar:hover{
    background-color: #480000;
    transition-duration: 0.3s;
}
.botonCerrarSesion{
    background-color: #945e00;
    border:#ffffff solid 1px;
    border-radius: 10px;
    color: #ffffff;
    padding: 0 40px 0 40px;
    cursor: pointer;
}
.botonCerrarSesion:hover{
    background-color: #482b00;
    transition-duration: 0.3s;
}
.mesajeError{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 3% 0% 3%;
    font-size: 1.1em;
}

a{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    a{
        font-size: 1.4rem;
    }
    .contenedorPerfil{
        display: flex;
        flex-direction: column;
        /*padding: 2% 5% 2% 5%;*/  
        color: #ffffff;
        font-size: 1.5em;
        font-weight: 300;
        justify-content: center;
        align-items: center;
    }
    .imagenPerfil{
        width: 100px;
        height: 100px;
    }
    .formularioPerfil{
        display: grid;
        grid-template-areas:
            'datos'
            'metodoDePago'
            'botones';
        gap: 5%;
    }
    .checkboxPagoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedorTitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0% 3% 0% 3%;
    }
    .tituloPerfil {
        font-size: 2em;
        color: #fff;
    }
    .inputFormCVV{
        width: 35%;
    }
}
@media (max-width: 480px) {
    a{
        font-size: 1rem;
    }

    input{
        font-size: 1rem;
    }

    .metodoDePago, .formularioPerfil{
        font-size: 1rem;
    }

    .inputForm{
        width: 150px;
    }

}
